:root {
  --primary-color: #1f6b8f;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {}

.header {
  display: flex;
  color: aliceblue;
  text-align: center;
  height: 50px;
  width: 100%;
  background: var(--primary-color);
  box-shadow: 0px 0px 8px 2px #000000;
}

.review-list {
  margin-top: 50px;
}